.GameContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(530px, 535px));
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 75px;

}

@media (max-width: 540px) {
    .GameContainer {
        grid-template-columns: 1fr;
        padding: 5px 100px;
        /* max-width: 320px; */
        border: 2px dotted black;
        justify-content: center;

    }
}