.ButtonDisabled {
    pointer-events: none
}

.ButtonEnabledNo {
    pointer-events: all;
    background-color: red;
}

.ButtonEnabledYes {
    pointer-events: none;
    background-color: green;
}

.ButtonEnabledUndecided {
    pointer-events: all;
    background-color: white;
}