.CommentHolder {
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    display: grid;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: center;
    grid-template-columns: 1fr;
}