.nav {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.nav .logo {
    justify-self: start;
}

@media (max-width: 540px) {
    .nav {
        display: none;
    }
}